.about-me-section {
  background-color: var(--bg-color-next);
  text-align: center;
}
.about-me-container {
  padding: 24px;
}
@media screen and (min-width: 768px) {
  .about-me-container {
    padding: 24px 50px;
  }
}
@media screen and (min-width: 1024px) {
  .about-me-container {
    padding: 24px 62px;
  }
}
@media screen and (min-width: 1400px) {
  .about-me-container {
    padding: 24px 72px;
  }
}

.section-title {
  font-family: "Lato Bold";
  font-weight: 700;
  font-size: 22px;
  line-height: 1.12;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: var(--active-text-color);
}
@media screen and (min-width: 480px) {
  .section-title {
    font-size: 28px;
  }
}
@media screen and (min-width: 1024px) {
  .section-title {
    font-size: 30px;
  }
}
@media screen and (min-width: 1400px) {
  .section-title {
    font-size: 40px;
  }
}

.about-me__list {
  margin: 24px 0 0 0;
  padding: 0;
}
.about-me__item:not(:first-child) {
  margin-top: 20px;
}
.about-me__item {
  list-style: none;
  display: flex;
  align-items: center;
  color: var(--current-text-color);
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-align: justify;

  opacity: 0;

  transition: all 0.9s cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
}
@media screen and (min-width: 480px) {
  .about-me__item {
    font-size: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .about-me__item {
    font-size: 22px;
  }
}
@media screen and (min-width: 1400px) {
  .about-me__item {
    font-size: 26px;
  }
}
.about-me__item._active {
  opacity: 1;
}

.about-me__item::before {
  content: "\2058";
  margin-right: 10px;
  flex-shrink: 0;
  color: var(--active-text-color);
}
@media screen and (min-width: 480px) {
  .about-me__item::before {
    margin-right: 16px;
  }
}
@media screen and (min-width: 768px) {
  .about-me__item::before {
    margin-right: 22px;
  }
}
@media screen and (min-width: 1024px) {
  .about-me__item::before {
    margin-right: 24px;
  }
}
