.page-up {
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  bottom: 16px;
  right: 16px;
  cursor: pointer;
  padding: 2px;
  transition: all 300ms ease-out;
}
.page-up:hover {
  scale: 1.2;
}

.page-up img {
  cursor: pointer;
  display: block;
  width: 100%;
}