.page-up {
  position: fixed;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 3px solid var(--active-text-color);
  bottom: 25px;
  left: 25px;
  cursor: pointer;
  background: var(--bg-color);
  
  transition: all 300ms ease-out;
}
.page-up:hover {
  scale: 1.2;
}

.page-up svg {
  width: 30px;
  height: 30px;
  fill: var(--active-text-color);
}
