.education-section {
  background-color: var(--bg-color-next);
  text-align: center;
}
.education-container {
  padding: 24px;
}

.education-cards {
  margin-top: 24px;
}
@media screen and (min-width: 768px) {
  .education-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-evenly;
  }
}

.education-card {
  width: 100%;
  margin-top: 12px;
  border: 1px solid var(--active-text-color);
  border-radius: 8px;
  padding: 12px;
  background-color: var(--card-color);
  transform: scale(0.4);
}

@media screen and (min-width: 768px) {
  .education-card {
    width: calc(100% / 2 - 50px);
  }

  .education-card:hover {
    border-color: transparent;
    box-shadow: var(--shadow);
  }
}
@media screen and (min-width: 768px) {
  .education-card .card-title {
    min-height: 96px;
  }
}
@media screen and (min-width: 1024px) {
  .education-card .card-title {
    min-height: 70px;
  }
}
.education-card._active {
  animation: scale-up-center 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.education-icon {
  margin-top: 12px;
  height: 70px;
  width: 70px;
  fill: var(--active-text-color);
}

.educatiom-period {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.educatiom-period span {
  color: var(--current-text-color);
  font-size: 18px;
  letter-spacing: 4px;
}
.education-course {
  margin-top: 22px;
  color: var(--current-text-color);
  font-size: 20px;
}
.education-course a {
  color: #81b0d8;
}
