@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-v23-latin_cyrillic-regular.woff2")
      format("woff2"),
    url("../fonts/montserrat-v23-latin_cyrillic-regular.woff") format("woff");
}

@font-face {
  font-family: "Lato Regular";
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), url("../fonts/Lato-Regular.woff2") format("woff2"),
    url("../fonts/Lato-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Lato Medium";
  font-style: normal;
  font-weight: 500;
  src: local("Lato Medium"), url("../fonts/Lato-Medium.woff2") format("woff2"),
    url("../fonts/Lato-Medium.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Lato Bold";
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), url("../fonts/Lato-Bold.woff2") format("woff2"),
    url("../fonts/Lato-Bold.woff") format("woff");
  font-display: swap;
}
