.footer-section {
  background-color: var(--bg-header);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-top: 0.5px solid var(--current-text-color);
  padding-bottom: 0;
}
@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    justify-content: space-between;
  }
}
.footer-nav {
  padding: 24px;
}
@media screen and (min-width: 768px) {
  .footer-nav {
    width: calc(100% / 2 - 20px);
    padding-top: 0;
  }
}
.footer-nav__title {
  font-size: 20px;
  line-height: 1.45;
  text-transform: uppercase;
  color: var(--text-color-black);
}
.footer-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-nav__item:not(:first-child) {
  margin-top: 10px;
}
.footer-nav__item svg {
  margin-right: 10px;
  fill: var(--current-text-color);
  width: 15px;
  height: 15px;
  flex-shrink: 0;
}
.footer-nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--current-text-color);
  text-transform: uppercase;
  font-size: 16px;
}

.footer-info {
  padding: 12px 0;
  border-top: 0.5px solid var(--current-text-color);
  color: var(--current-text-color);
}
