.header {
  position: relative;
  height: 60px;
  z-index: 20;
}
@media screen and (min-width: 768px) {
  .header {
    height: 80px;
  }
}
.header-fixed {
  background-color: var(--bg-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  display: flex;
  height: 60px;
}

@media screen and (min-width: 768px) {
  .header-fixed {
    height: 80px;
  }
}
.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: var(--current-text-color);
}
.header-logo span {
  color: var(--active-text-color);
}

.nav-menu {
  display: none;
}
.nav {
  position: absolute;
  top: 0;
  left: 0;
}
@media screen and (min-width: 768px) {
  .nav,
  .nav-menu {
    position: relative;
    display: flex;
    gap: 15px;
    align-items: center;
    margin-left: auto;
  }
}
@media screen and (min-width: 1024px) {
  .nav,
  .nav-menu {
    gap: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .nav,
  .nav-menu {
    gap: 32px;
  }
}

.nav-menu__item {
  position: relative;
  font-weight: 500;
  letter-spacing: 0.03em;
  line-height: 1.29;
  font-size: 16px;
  text-transform: uppercase;
}
.nav-menu__link {
  display: flex;
  text-decoration: none;
  color: var(--current-text-color);
  padding-top: 16px;
  padding-bottom: 16px;
  transition: color var(--transition-primary);
}
.nav-menu__link:hover {
  color: var(--active-text-color);
}
.current-link {
  color: var(--active-text-color);
}
.current-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: var(--active-text-color);
}

.nav-menu__link::before {
  content: "";
  position: absolute;
  width: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  background-color: var(--active-text-color);
  transition: width 0.5s, left 0.5s;
}
.nav-menu__link:hover::before {
  width: 100%;
  left: 0;
}

.progress {
  position: fixed;
  left: 0;
  top: 0;
  height: 6px;
  width: 0%;
  border-radius: 3px;
  background-image: linear-gradient(to bottom, #0057b7 50%, #ffdd00 50%);
}
/******************  Box Dark Switch + Language  ******************/
.box__dark-swich-language {
  margin-top: 22px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/******************  Language  ******************/
.select-language {
  display: none;
  position: relative;
}
@media screen and (min-width: 768px) {
  .select-language {
    display: inline-flex;
  }
}
.select-language.mob {
  display: inline-flex;
}

.select-language__header {
  cursor: pointer;
  display: flex;
  justify-content: center;
  background-color: var(--bg-color);
  color: var(--active-text-color);
  border-color: transparent;
  box-shadow: 0px 5px 15px rgba(194, 215, 240, 1);
  border-radius: 8px;
  padding: 6px 14px;
}

.select-language__current {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

.select-language__body {
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  background-color: var(--bg-color);
  box-shadow: 0px 5px 15px rgba(194, 215, 240, 1);
  border-radius: 8px;
  color: var(--active-text-color);

  transition: opacity 1s ease;
}
.select-language.is-active .select-language__body {
  display: block;
}

.select-language__item {
  cursor: pointer;
  font-size: 14px;
  line-height: 24px;
  padding: 6px 14px;
  border-radius: 8px;
  text-transform: uppercase;
  transition: all var(--transition-primary);
}

.select-language__item:hover {
  background-color: #f2f2f2;
  color: var(--active-text-color);
}

/******************  Dark Switch  ******************/
.dark-switch {
  display: inline-flex;
  align-items: center;
  margin-left: auto;
  margin-right: 22px;
}
@media screen and (min-width: 768px) {
  .dark-switch {
    margin-left: 12px;
    margin-right: 0;
  }
}
.dark-switch.mob {
  margin: 0;
}
.dark-switch__label {
  position: relative;
  cursor: pointer;
}
.dark-switch__label::before {
  content: "";
  display: block;
  position: relative;
  width: 35px;
  height: 15px;
  border-radius: 20px;
  background-color: var(--active-text-color);

  transition: all 300ms;
}
@media screen and (min-width: 768px) {
  .dark-switch__label::before {
    width: 40px;
    height: 20px;
  }
}
html.dark .dark-switch__label::before {
  background-color: gray;
}
.dark-switch__label::after {
  content: "";
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: -2.5px;
  left: -0.5px;
  width: 20px;
  height: 20px;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: #ffdd00;

  transition: all 300ms;
}
@media screen and (min-width: 768px) {
  .dark-switch__label::after {
    width: 25px;
    height: 25px;
  }
}
html.dark .dark-switch__label::after {
  background-color: gray;
  transform: translateX(16px);
  border-color: var(--active-text-color);
}
.dark-switch__icon {
  width: 20px;
  height: 20px;
  fill: var(--active-text-color);
  margin-right: 5px;
}
@media screen and (min-width: 768px) {
  .dark-switch__icon {
    width: 25px;
    height: 25px;
  }
}
