.herro-section {
  background-color: #edeff4;
  height: 400px;
  margin: 0 auto;
}
html.dark .herro-section {
  background-color: #2d2e2e;
}

@media screen and (min-width: 480px) {
  .herro-section {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .herro-section {
    height: 430px;
  }
}
@media screen and (min-width: 1200px) {
  .herro-section {
    height: 530px;
  }
}

.herro-container {
  position: relative;
  height: 100%;
}

.herro-img {
  position: absolute;
  right: 50px;
  bottom: 0;
  height: 440px;
}

.herro-section__title {
  position: absolute;
  top: 100px;
  left: 150px;
  font-family: "Lato Bold";
  font-weight: 700;
  font-size: 22px;
  line-height: 1.62;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: var(--active-text-color);

  opacity: 0;
  transition: opacity 2s ease 0s;
}
.herro-section__title._active {
  opacity: 1;
}
@media screen and (min-width: 1200px) {
  .herro-section__title {
    font-size: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .herro-section__title {
    font-size: 48px;
    line-height: 1.35;
  }
}

.herro-section__text {
  position: absolute;
  top: 180px;
  left: 150px;
  font-family: "Lato Medium";
  text-transform: uppercase;
  letter-spacing: 14px;
  font-size: 32px;
  line-height: 1.5;
  color: var(--current-text-color);

  opacity: 0;
  transition: all 2.2s ease 0.7s;
}
.herro-section__text._active {
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .herro-section__text {
    font-size: 28px;
    line-height: 1.88;
  }
}

.herro-contacts {
  position: absolute;
  width: 800px;
  top: 370px;
  left: 150px;

  opacity: 0;
  transform: translate(0, -130%);
  transition: all 0.7s ease-out 1.1s;
}
.herro-contacts._active {
  opacity: 1;
  transform: translate(0, 0);
}

.herro-contacts::before {
  content: "";
  display: block;
  width: 800px;
  height: 4px;
  background-color: var(--current-text-color);
  border-radius: 5px;
  margin-bottom: 36px;
}

.herro-contacts__list {
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}

.herro-contacts__item {
  list-style: none;
}
.herro-contacts__title {
  margin-bottom: 12px;
  color: var(--text-color-black);
  font-size: 18px;
}
.herro-contacts__info a {
  font-size: 16px;
  text-decoration: none;
  color: var(--current-text-color);
}

/************ Feedback ************/
.backrdop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: scroll;
}

.backrdop.visually-hidden {
  opacity: 0;
  pointer-events: none;
}

.feedback {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  padding: 12px 24px;
  background-color: var(--bg-color);
  box-shadow: 0px 106px 42px rgba(0, 0, 0, 0.01),
    0px 59px 36px rgba(0, 0, 0, 0.05), 0px 26px 26px rgba(0, 0, 0, 0.09),
    0px 7px 15px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.feedback__close-modal {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
  fill: #a4a5a6;
  border-radius: 50%;
  padding: 2px;
  border: 1px solid transparent;

  transition: all var(--transition-primary);
}
.feedback__close-modal:hover {
  scale: 1.2;
  border-color: #a4a5a6;
  background-color: #f4d7d7;
}

.form-feedback {
  padding: 10px;
  text-align: center;
}
.feedback-label {
  position: relative;
  display: block;
  text-align: left;
  margin-top: 10px;
  font-size: 14px;
  color: var(--current-text-color);
}
.msg-error {
  position: absolute;
  right: 8px;
  top: 6px;
  color: #de3f3f;
  padding: 4px 8px;
  border-radius: 8px;
  background: var(--primary-color-white);
}
.feedback-input {
  display: block;
  letter-spacing: 1.2px;
  font-size: 16px;
  color: var(--current-text-color);
  margin-top: 2px;
  height: 45px;
  min-width: 400px;
  padding: 5px 10px;
  border-radius: 8px;
  border: 1px solid #a4a5a6;
  outline: none;
}
.feedback-input:active,
.feedback-input:focus,
.feedback-input:target {
  border: 1px solid green;
}
.feedback-input.error {
  border: 2px solid #de3f3f;
}
.feedback-button__submit {
  text-transform: uppercase;
  min-width: 180px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  background-color: rgb(86, 180, 180);
  padding: 8px 16px;
  cursor: pointer;

  transition: all 250ms;
}
.feedback-button__submit:hover {
  background-color: rgb(64, 156, 156);
}

.herro-section__button {
  position: absolute;
  top: 250px;
  left: 405px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.4em;
  line-height: 1.25;
  color: var(--primary-color-white);
  background-color: var(--active-text-color);
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 8px;
  outline: none;
  border: none;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);

  transition: background-color var(--transition-primary);
}

.herro-section__button:hover {
  background-color: #21b8f8;
}
.feedback-msg-success {
  display: none;
  position: absolute;
  top: 30px;
  width: 100%;
  height: 100%;
  background: inherit;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 25px;
  font-size: 26px;
  font-weight: 700;
  color: green;
}
.feedback-msg-success svg {
  fill: green;
  width: 45px;
  height: 45px;
}

/****  spinner ****/
.spinner-box {
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: inherit;
}

.spinner {
  width: 80px;
  height: 80px;
  --clr: rgb(127, 207, 255);
  --clr-alpha: rgb(127, 207, 255, 0.1);
  animation: spinner 2s infinite linear;
  transform-style: preserve-3d;
}

.spinner > div {
  background-color: var(--clr-alpha);
  height: 100%;
  position: absolute;
  width: 100%;
  border: 5px solid var(--clr);
}

.spinner div:nth-of-type(1) {
  transform: translateZ(-40px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
  transform: rotateY(-270deg) translateX(50%);
  transform-origin: top right;
}

.spinner div:nth-of-type(3) {
  transform: rotateY(270deg) translateX(-50%);
  transform-origin: center left;
}

.spinner div:nth-of-type(4) {
  transform: rotateX(90deg) translateY(-50%);
  transform-origin: top center;
}

.spinner div:nth-of-type(5) {
  transform: rotateX(-90deg) translateY(50%);
  transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
  transform: translateZ(40px);
}

@keyframes spinner {
  0% {
    transform: rotate(0deg) rotateX(0deg) rotateY(0deg);
  }

  50% {
    transform: rotate(180deg) rotateX(180deg) rotateY(180deg);
  }

  100% {
    transform: rotate(360deg) rotateX(360deg) rotateY(360deg);
  }
}
