.herro-section {
  background-color: var(--bg-color);
  text-align: center;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .herro-section {
    display: block;
    height: 430px;
  }
}
@media screen and (min-width: 1024px) {
  .herro-section {
    height: 480px;
  }
}
@media screen and (min-width: 1200px) {
  .herro-section {
    height: 530px;
  }
}

.herro-container {
  position: relative;
  padding: 24px;
}
@media screen and (min-width: 768px) {
  .herro-container {
    height: 100%;
  }
}

.herro-img {
  margin-left: auto;
  height: 150px;
}
@media screen and (min-width: 768px) {
  .herro-img {
    border-radius: 0;
    position: absolute;
    right: 5px;
    bottom: 0;
    height: 350px;
  }
}
@media screen and (min-width: 1024px) {
  .herro-img {
    right: 25px;
    height: 400px;
  }
}
@media screen and (min-width: 1200px) {
  .herro-img {
    right: 40px;
    height: 440px;
  }
}
@media screen and (min-width: 1400px) {
  .herro-img {
    right: 50px;
  }
}

.herro-section__title {
  position: absolute;
  top: 30px;
  left: 24px;
  text-align: left;
  font-family: "Lato Bold";
  font-weight: 700;
  font-size: 22px;
  line-height: 1.12;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: var(--active-text-color);
  margin-top: 5px;
}
@media screen and (min-width: 480px) {
  .herro-section__title {
    font-size: 29px;
  }
}
@media screen and (min-width: 768px) {
  .herro-section__title {
    margin-top: 0;
    position: absolute;
    top: 40px;
    left: 100px;
    font-size: 22px;
    line-height: 1.62;
    letter-spacing: 8px;

    opacity: 0;

    transition: all 2s cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1024px) {
  .herro-section__title {
    font-size: 30px;
    top: 50px;
    left: 190px;
  }
}
@media screen and (min-width: 1200px) {
  .herro-section__title {
    font-size: 44px;
    line-height: 1.35;
    left: 150px;
  }
}
@media screen and (min-width: 1400px) {
  .herro-section__title {
    font-size: 48px;
    top: 100px;
    left: 150px;
  }
}
.herro-section__title._active {
  opacity: 1;
}

.herro-section__job {
  font-family: "Lato Medium";
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 16px;
  line-height: 1.12;
  color: var(--current-text-color);
}
@media screen and (min-width: 768px) {
  .herro-section__job {
    position: absolute;
    width: 500px;
    top: 100px;
    left: 70px;
    font-size: 28px;
    line-height: 1.88;
    letter-spacing: 14px;
    font-size: 24px;
    line-height: 1.5;

    opacity: 0;

    transition: all 2.2s cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1024px) {
  .herro-section__job {
    letter-spacing: 12px;
    width: auto;
    top: 125px;
    left: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .herro-section__job {
    letter-spacing: 14px;
    top: 140px;
    left: 150px;
  }
}
@media screen and (min-width: 1400px) {
  .herro-section__job {
    top: 180px;
  }
}
.herro-section__job._active {
  opacity: 1;
}
.herro-section__job::before {
  content: "";
  display: block;
  height: 2px;
  background-color: var(--current-text-color);
  border-radius: 5px;
  margin-bottom: 14px;
}
@media screen and (min-width: 768px) {
  .herro-section__job::before {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .herro-contacts {
    position: absolute;
    width: 460px;
    top: 290px;
    left: 30px;

    opacity: 0;
    transform: translate(0, -100%);

    transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1024px) {
  .herro-contacts {
    width: 600px;
    top: 330px;
    left: 85px;
  }
}
@media screen and (min-width: 1200px) {
  .herro-contacts {
    width: 650px;
    top: 370px;
    left: 150px;
  }
}
@media screen and (min-width: 1400px) {
  .herro-contacts {
    width: 800px;
  }
}

.herro-contacts._active {
  opacity: 1;
  transform: translate(0, 0);
}

.herro-contacts::before {
  content: "";
  display: block;
  height: 2px;
  background-color: var(--current-text-color);
  border-radius: 5px;
  margin: 14px 0;
}
@media screen and (min-width: 768px) {
  .herro-contacts::before {
    width: 460px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .herro-contacts::before {
    height: 4px;
    width: 600px;
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .herro-contacts::before {
    width: 650px;
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 1400px) {
  .herro-contacts::before {
    width: 800px;
  }
}

.herro-contacts__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}
@media screen and (min-width: 768px) {
  .herro-contacts__list {
    flex-direction: row;
  }
}

.herro-contacts__item {
  list-style: none;
}
.herro-contacts__title {
  color: var(--text-color-black);
  margin-bottom: 8px;
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  .herro-contacts__title {
    margin-bottom: 12px;
    font-size: 16px;
  }
}
@media screen and (min-width: 1024px) {
  .herro-contacts__title {
    font-size: 18px;
  }
}

.herro-contacts__info a {
  font-size: 14px;
  text-decoration: none;
  font-style: italic;
  color: var(--current-text-color);
}
@media screen and (min-width: 768px) {
  .herro-contacts__info a {
    font-size: 12px;
  }
}
@media screen and (min-width: 1024px) {
  .herro-contacts__info a {
    font-size: 16px;
  }
}

/************ Feedback ************/
.backrdop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: scroll;
}

.backrdop.visually-hidden {
  opacity: 0;
  pointer-events: none;
}

.feedback {
  width: 95%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  padding: 12px 24px;
  background-color: var(--bg-color);
  box-shadow: 0px 106px 42px rgba(0, 0, 0, 0.01),
    0px 59px 36px rgba(0, 0, 0, 0.05), 0px 26px 26px rgba(0, 0, 0, 0.09),
    0px 7px 15px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
@media screen and (min-width: 480px) {
  .feedback {
    width: 460px;
  }
}
@media screen and (min-width: 1024px) {
  .feedback {
    width: 500px;
  }
}
.feedback__close-modal {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
  fill: #a4a5a6;
  border-radius: 50%;
  padding: 2px;
  border: 1px solid transparent;

  transition: all var(--transition-primary);
}
.feedback__close-modal:hover {
  scale: 1.2;
  border-color: #a4a5a6;
  background-color: #f4d7d7;
}

.form-feedback {
  padding: 10px;
  text-align: center;
}
.feedback-label {
  position: relative;
  display: block;
  text-align: left;
  margin-top: 10px;
  font-size: 14px;
  color: var(--current-text-color);
}

.msg-error {
  position: absolute;
  right: 5px;
  top: 16px;
  font-size: 10px;
  color: #de3f3f;
  padding: 4px 8px;
  border-radius: 8px;
  background: var(--primary-color-white);
}
@media screen and (min-width: 480px) {
  .msg-error {
    right: 8px;
    top: 6px;
    font-size: 12px;
  }
}
@media screen and (min-width: 768px) {
  .msg-error {
    font-size: 14px;
  }
}
.feedback-input {
  display: inline-block;
  width: 100%;
  letter-spacing: 1.2px;
  font-size: 16px;
  color: var(--current-text-color);
  margin-top: 2px;
  height: 45px;
  padding: 5px 10px;
  border-radius: 8px;
  border: 1px solid #a4a5a6;
  outline: none;
}
@media screen and (min-width: 768px) {
  .feedback-input {
    min-width: 400px;
  }
}
.feedback-input:active,
.feedback-input:focus,
.feedback-input:target {
  border: 1px solid green;
}
.feedback-input.error {
  border: 2px solid #de3f3f;
}
.feedback-button__submit {
  text-transform: uppercase;
  min-width: 180px;
  margin-top: 28px;
  border: none;
  border-radius: 10px;
  background-color: rgb(86, 180, 180);
  padding: 8px 16px;
  cursor: pointer;

  transition: all 250ms;
}
.feedback-button__submit:hover {
  background-color: rgb(64, 156, 156);
}

.herro-section__button {
  margin-top: 26px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.4em;
  line-height: 1.25;
  color: var(--primary-color-white);
  background-color: var(--active-text-color);
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  outline: none;
  border: none;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);

  transition: background-color var(--transition-primary);
}
@media screen and (min-width: 768px) {
  .herro-section__button {
    margin-top: 0;
    padding: 12px 24px;
    position: absolute;
    top: 200px;
    left: 185px;
  }
}
@media screen and (min-width: 1024px) {
  .herro-section__button {
    top: 230px;
    left: 325px;
  }
}
@media screen and (min-width: 1200px) {
  .herro-section__button {
    top: 250px;
    left: 405px;
  }
}

.herro-section__button:hover {
  background-color: #21b8f8;
}
.feedback-msg-success {
  display: none;
  position: absolute;
  top: 30px;
  width: 100%;
  height: 100%;
  background: inherit;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 25px;
  font-size: 26px;
  font-weight: 700;
  color: green;
}
.feedback-msg-success svg {
  fill: green;
  width: 45px;
  height: 45px;
}

/***********  Spinner ***********/
.spinner-box {
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: inherit;
}

.spinner {
  width: 80px;
  height: 80px;
  --clr: rgb(127, 207, 255);
  --clr-alpha: rgb(127, 207, 255, 0.1);
  animation: spinner 2s infinite linear;
  transform-style: preserve-3d;
}

.spinner > div {
  background-color: var(--clr-alpha);
  height: 100%;
  position: absolute;
  width: 100%;
  border: 5px solid var(--clr);
}

.spinner div:nth-of-type(1) {
  transform: translateZ(-40px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
  transform: rotateY(-270deg) translateX(50%);
  transform-origin: top right;
}

.spinner div:nth-of-type(3) {
  transform: rotateY(270deg) translateX(-50%);
  transform-origin: center left;
}

.spinner div:nth-of-type(4) {
  transform: rotateX(90deg) translateY(-50%);
  transform-origin: top center;
}

.spinner div:nth-of-type(5) {
  transform: rotateX(-90deg) translateY(50%);
  transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
  transform: translateZ(40px);
}

@keyframes spinner {
  0% {
    transform: rotate(0deg) rotateX(0deg) rotateY(0deg);
  }

  50% {
    transform: rotate(180deg) rotateX(180deg) rotateY(180deg);
  }

  100% {
    transform: rotate(360deg) rotateX(360deg) rotateY(360deg);
  }
}
