/************ Test Input Mask ************/
.form {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.form-test {
  padding: 10px;
  text-align: center;
  border: 1px solid #a4a5a6;
  border-radius: 10px;
}
.label-test__mask {
  display: block;
  margin-top: 10px;
}
.msg-error {
  display: block;
  margin-top: 2px;
  color: #de3f3f;
  font-size: 12px;
  margin-bottom: 5px;
}
.input-test__mask {
  display: block;
  letter-spacing: 1.2px;
  margin-top: 10px;
  height: 40px;
  min-width: 400px;
  padding: 5px 10px;
  border-radius: 8px;
  border: 1px solid #a4a5a6;
  outline: none;
}
.input-test__mask:active,
.input-test__mask:focus,
.input-test__mask:target {
  border: 1px solid green;
}
.input-test__mask.error {
  border: 1px solid #de3f3f;
}
.form-test_button-submit {
  text-transform: uppercase;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  background-color: rgb(86, 180, 180);
  padding: 8px 16px;
  cursor: pointer;

  transition: all 250ms;
}
.form-test_button-submit:hover {
  background-color: rgb(64, 156, 156);
}
