.mob-menu-btn__open {
  padding: 0;
  background-color: transparent;
  border: none;
  display: flex;
  cursor: pointer;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .mob-menu-btn__open {
    display: none;
  }
}
.mob-menu-btn__open svg {
  width: 32px;
  height: 32px;
  fill: var(--current-text-color);
}

.mob-menu {
  position: fixed;
  overflow-y: auto;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
  background-color: #2f70fe;
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1),
    transform 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu .container {
  height: 100%;
  overflow: auto;
  position: relative;
  padding: 0;
  width: 320px;
}
@media screen and (min-width: 375px) {
  .mob-menu .container {
    width: 375px;
  }
}
@media screen and (min-width: 480px) {
  .mob-menu .container {
    width: 480px;
  }
}

.mob-menu__animate {
  opacity: 1;
  transform: translateX(0);
}
.mob-menu-nav {
  padding: 0;
}
.menu-close-btn {
  display: flex;
  padding: 0;
  margin-top: 24px;
  margin-left: auto;
  margin-right: 24px;
  border: none;
  background: none;
  cursor: pointer;
}
.menu-close-btn svg {
  width: 24px;
  height: 24px;
}

.mob-menu-nav__link {
  text-decoration: none;
  color: var(--primary-color-white);
  font-weight: 500;
  font-size: 22px;
  line-height: 1.29;
  width: 100%;
  text-transform: uppercase;
}

.mob-menu-nav__item {
  display: flex;
  padding: 12px 40px;
  border-bottom: 1px solid #ffffff;
  align-items: center;
}
.mob-menu-nav__item:first-child {
  border-top: 1px solid #ffffff;
}

.mob-menu-nav__item:hover .mob-menu-nav__link {
  color: rgb(232, 252, 11);
}
