* {
  box-sizing: border-box;
}
body {
  font-family: "Lato Regular", sans-serif;
  font-size: 14px;
  background-color: var(--primary-color-white);
  color: var(--text-color-dark-navy);
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 480px) {
  .section {
    padding: 40px 0;
  }
}
@media screen and (min-width: 768px) {
  .section {
    padding: 60px 0;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 80px 0;
  }
}

.container {
  width: 320px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
@media screen and (min-width: 1400px) {
  .container {
    width: 1400px;
  }
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}